.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
  width: 100vw;
}

.content {
  width: 75%; /* Set the width of the content */
}
